In [8]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (4.8.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [15]:
#Problem 1

df = pd.Series([4,8,15,16,23,42])
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [16]:
#Problem 2

data = list(range(10))
df = pd.Series(data)
df

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [22]:
#Problem 3

data = {'Name':['Alice','Bob','Claire'],
     'Age':[25,30,27],
     'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#Problem 4

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

A Series only has one data column, whereas a single-column DataFrame contains both a data column and an index. The labels for the data are contained in the index, which is a second column.

Question 2 and 3 are example of series and data frame.

#Problem 5

Functions :-
- Dropping columns in the data.
- Dropping rows in the data.
- Renaming a column in the dataset.
- Select columns with specific data types.
- Slicing the dataset.

Example - 

From above question we will slice and see top 1 record.

In [23]:
df.head(1)

    Name  Age  Gender
0  Alice   25  Female

#Problem 6

All of pandas data structures are mutable in nature.

In [36]:
#Problem 7

Name = pd.Series(['Vishu','Chib','Sudh'])
Age = pd.Series([25,26,27])

df = pd.concat([Name,Age], axis =1)
df

       0   1
0  Vishu  25
1   Chib  26
2   Sudh  27